*{
    background-image: url(https://i.gifer.com/76YS.gif);
}


h2{
    text-align: center;
    color: white;
}

section{
    text-align: center;
    align-items: center;
}

.footer h2 {
    padding: 10px;
    clear: both;
    text-align: center;
    font-size: 19px;
    margin-top: 50px;
}

.footer p {
    font-size: 19px;
    color: white;
    text-align: center;
}