*{
    background-image: url(https://i.gifer.com/76YS.gif);
}


h2{
    text-align: center;
    color: white;
}

section{
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .card {
      width: 100%;
    }}